<mat-spinner  class="spinner" *ngIf="!isLoading"></mat-spinner>

<div class="container"  *ngIf="people$ | async as people">
    
<mat-card class="title ">
    {{people.name}} 

     </mat-card>
<mat-card>
<table>
    <tr>
        <th>
            <mat-card class="content">
                Character details
            
                 </mat-card>
        </th>
    </tr>
    <tbody >
      
         <tr>
            <td >
                    <table>
                        <thead>
                        <th class="content">height</th>
                        <th class="content">mass</th>
                        <th class="content">hair color</th>
                        <th class="content">skin_color</th>
                        <th class="content">eye_color</th>
                        <th class="content">birth_year</th>
                        <th class="content">gender</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                            {{people.height}}
                        </td>
                            <td>
                           {{people.mass}}
                        </td>
                            <td>
                            {{people.hair_color}}
                        </td>
                        <td>
                            {{people.skin_color}}
                        </td>
                        <td>
                            {{people.eye_color}}
                        </td>
                        <td>
                            {{people.birth_year}}
                        </td>
                        <td>
                            {{people.gender}}
                        </td>
                    </tr>
                </tbody>
                </table>

                <table>
                    <thead>
                      
                        <th>
                            films
                        </th>
                        <th>
                            vehicles
                        </th>
                        <th>
                            starships
                        </th>
                    </thead>
                    <tbody>
                        
                        <td >
                          <ul  *ngFor="let item of people.films">
                            <li>{{item.title}}</li>
                          </ul>  
                        </td>
                        <td >
                            <ul   *ngFor="let item of people.vehicles">
                                <li>{{item.name}}</li>
                              </ul>  
                        </td>
                        <td>
                            <ul  *ngFor="let item of people.starships">
                                <li>{{item.name}}</li>
                              </ul>  
                        </td>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>

</table>
</mat-card>
</div>
