
<div class="container"  *ngIf="people$ | async as people">
  <h1 class="name">
    {{people.name}}
     </h1>
<table>



    <tr>
                 <h1 class="title">
                  Character details
                 </h1>
    </tr>
    <tbody >
         <tr>
                    <table>
                        <thead>
                        <th class="content">height</th>
                        <th class="content">mass</th>
                        <th class="content">hair color</th>
                        <th class="content">skin_color</th>
                        <th class="content">eye_color</th>
                        <th class="content">birth_year</th>
                        <th class="content">gender</th>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                            {{people.height}}
                        </td>
                            <td>
                           {{people.mass}}
                        </td>
                            <td>
                            {{people.hair_color}}
                        </td>
                        <td>
                            {{people.skin_color}}
                        </td>
                        <td>
                            {{people.eye_color}}
                        </td>
                        <td>
                            {{people.birth_year}}
                        </td>
                        <td>
                            {{people.gender}}
                        </td>
                    </tr>
                </tbody>
                </table>
                <br>

                <table class="secondTable">
                    <thead>

                        <th class="content">
                            films
                        </th>
                        <th class="content">
                            vehicles
                        </th>
                        <th class="content">
                            starships
                        </th>
                    </thead>
                    <tbody>

                        <td >
                          <ul  *ngFor="let item of people.films">
                            <li>{{item.title}}</li>
                          </ul>
                        </td>
                        <td >
                            <ul *ngFor="let item of people.vehicles" >
                              <li>{{item.name}}</li>
                            </ul>

                        </td>
                        <td>
                            <ul  *ngFor="let item of people.starships">
                                <li>{{item.name}}</li>
                              </ul>
                        </td>
                    </tbody>
                </table>
        </tr>
    </tbody>
</table>
</div>

<mat-spinner  class="spinner" *ngIf="!isLoading"></mat-spinner>
