.example-spacer {
    flex: 1 1 auto;
  }
.nav{
    background-color: rgb(148, 14, 14);   
    height: 50px;
    display: flex;
    align-items: center;
    
    
}

.title {
    padding: 10px;
    background-color: rgb(186, 120, 120);   
    margin: 20px;
    color: white;
     }
     .link{
        margin-left: 20px;
        text-decoration: none;
        color: white;
        font-family: 'Silkscreen', cursive;
        text-shadow: 10px 10px 5px black;

    } 
  