*{
    color: black;
}
.results{
    display: flex;
    flex-direction: row;
}

table, td, th {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: 1px solid purple;
    width: 90%;
    margin: auto;
    padding: 5;
    font-size: 0.8rem;
    color: yellow;
  }

  td{
  padding:
   10px 20px 10px 20px;
   font-size: 0.9rem;

  }

.accordion{

    width: 90%;
    margin: auto;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
    color: yellow;
}



h2{
    text-transform: uppercase;
    color: yellow;

}
li{
    list-style: none;

}
.title{

    font-family: 'Silkscreen', cursive;

}
.content{
    font-size: 1.03rem;
    font-family: 'Silkscreen', cursive;

}
.spinner{
    margin: auto;
  }
.shipName{
  justify-content: center;

  color: yellow;

}
.mat-expansion-panel-header:hover {
  cursor: pointer;
  transform: scale(1.1);
  transform-origin: center;
}

.mat-expansion-panel-header{
  transition: opacity 0.3s, transform 0.3s;

}
