/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

body{
    background-color: rgb(65, 64, 64);
}
 *{
    /* color: white; */
    font-family: 'Silkscreen', cursive;

} 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.title{
    font-family: 'Silkscreen', cursive;
  }

