<mat-spinner  class="spinner" *ngIf="!isLoading"></mat-spinner>

<!-- <mat-progress-bar *ngIf="!isLoading" mode="indeterminate" ></mat-progress-bar> -->
<table>
    <thead>
        <tr>
            <th>
                <h2 class="">Nome do Filme</h2>
            </th>
        </tr>
    </thead>
    <tbody *ngIf="films$ | async as films">
        <tr *ngFor="let item of films.results ; let id = 'index+1 ';">
            <td >
               <a routerLink="/filmDetail/{{ id }}" >
                    <mat-card class="title">
                    
                    {{item.title}}

                    </mat-card>
             </a>
            </td>
        </tr>
    </tbody>
</table> 